body {
    font-family: sans-serif;
    display: flex; /* Use flexbox (CSS system designed for layouts) */
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

h1 {
    margin-bottom: 2%;
}

.board {
    display: grid; /* CSS grid to lay out cells */
    width: 60vmin; /* vmin is percentage of viewport */
    height: 60vmin;
    grid-template-columns: repeat(3, 1fr); /* 1fr means one fraction */
    grid-template-rows: repeat(3, 1fr);
    gap: 2% /* intercell gap */
}

.cell {
    background-color: #eee;
    border: 0.3vmin solid #444; 
    font-size: 10vmin;
    display:flex;
    justify-content: center; /* how content of flexbox is spaced */
    align-content: center;
    cursor: pointer;
    user-select: none;
}