html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex; /* Use flexbox (CSS system designed for layouts) */
    flex-direction: column;
    align-items: center;
}

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.board {
    display: grid; /* CSS grid to lay out cells */
    width: 60vmin; /* vmin is percentage of viewport */
    height: 60vmin;
    grid-template-columns: repeat(3, 1fr); /* 1fr means one fraction */
    grid-template-rows: repeat(3, 1fr);
    gap: 2% /* intercell gap */
}

.cell {
    background-color: #eee;
    border: 0.3vmin solid #444; 
    font-size: 15vmin;
    display: flex;
    justify-content: center; /* how content of flexbox is spaced */
    align-content: center;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}

footer {
    background-color: #eee;
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 2em;
    border-top: 0.3vmin solid #444;
}

.github-link a {
    color: black;
    text-decoration: underline;
}

.github-link a:hover {
    color: rgb(105, 163, 163);
    text-decoration: underline;
}